@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-raleway: "Raleway", sans-serif;
}

* {
    margin: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

/*212426*/

body {
    font-family: var(--font-raleway);
    background: #232222;
}

/*212426*/

#app {
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 300px 300px;
    height: 150px 90px;
    flex-shrink: 0;
    color: #6C0505;
    text-shadow: 10px 8px 6px #000;
    font-family: arial black;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.logo img {
    width: 30em;
    height: auto;
    margin: auto;
    display: block;

}

.search {
    width: 80%;
    height: 90px;
    margin: 4rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.75rem;
    background: #1f1c1c;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
    flex: 1;
    border: none;
    padding-right: 1rem;
    outline: none;
    color: white;
    background: #1f1c1c;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50em;

}



.search img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;

}

.empty {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #f9d3b4;
}

/*f9d3b4*/

.container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.container img {
    border-radius: 4em;
}

@media screen and (max-width: 600px) {
    .app {
        padding: 4rem 2rem;
    }

    .search {
        padding: 1rem 1.75rem;
        width: 100%;
    }

    .search input {
        font-size: 1rem;

    }

    .search img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width : 400px) {
    .app {
        padding: 4rem 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        margin-top: 2rem;

    }

    .movie {
        width: 100%;
        margin: 1rem;
    }

}